doctype html
html(lang='en')
    head
        include includes/head

body(ng-app="DynamoDBCrossRegionReplicationDashboard")


    #wrapper.container-fluid
        block content

        block footer

    // build:js(.) scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    script(src='scripts/app.js')
    script(src='scripts/config.js')
    script(src='scripts/controllers/dashboard.js')
    script(src='scripts/controllers/replication_group_details.js')
    script(src='scripts/controllers/table_details.js')    
    script(src='scripts/controllers/configure_replication_group.js')        
    script(src='scripts/controllers/configure_table.js')        
    script(src='scripts/controllers/add_table.js')            
    script(src='scripts/directives/navigation.js')            
    script(src='scripts/directives/d3_line.js')                
    script(src='scripts/services/replication_manager.js')            
    script(src='scripts/services/monitoring.js')                

    block scripts

