<navigation active="active" groups="groups" activeGroup="group" tables="tables" activeTable="table"></navigation>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{title}}</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group btn-toggle"> 
                <button class="btn btn-lg" ng-click="clickOn()" ng-class="{active: group.isStarted(), 'btn-primary': group.isStarted(), 'btn-default': !group.isStarted()}">ON</button>
                <button class="btn btn-lg" ng-click="clickOff()" ng-class="{active: !group.isStarted(), 'btn-primary': !group.isStarted(), 'btn-default': group.isStarted()}">OFF</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Masters</h3>
        </div>  
        <div class="col-lg-4 col-md-6" ng-repeat="master in masters | filter:query">
            <div class="panel" ng-class="master.getPanelColor()">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive" ng-src="images/dynamodb_table.png"></img>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>{{master.region}}/{{master.name}}</div>
                            <div>{{master.status}}</div>
                            <div>{{master.account}}</div>                            
                        </div>
                    </div>
                </div>
                <a href="#/tables/{{master.arn}}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="#/replicationGroups/{{group.id}}/tables/add/master" >
                <div class="panel panel-gray" ng-class="{transparent: !isAddTableButtonActive}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-plus-circle fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <span class="pull-left">Click here to add</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>        
    </div>    
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Replicas</h3>
        </div>        
        <div class="col-lg-4 col-md-6" ng-repeat="table in replicas | filter:query">
            <div class="panel" ng-class="table.getPanelColor()">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive" ng-src="images/dynamodb_table.png"></img>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>{{table.region}}/{{table.name}}</div>
                            <div>{{table.status}}</div>
                            <div>{{table.account}}</div>                            
                        </div>
                    </div>
                </div>
                <a href="#/tables/{{table.arn}}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="#/replicationGroups/{{group.id}}/tables/add/replica">
                <div class="panel panel-gray" ng-class="{transparent: !isAddTableButtonActive}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-plus-circle fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <span class="pull-left">Click here to add</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- /.row -->
    <div class="row" ng-repeat="master in masters">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> # of Writes and Checkpointed Records for {{master.getDisplayName()}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <d3-line data="master.metrics.numbers"></d3-line>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Average Replication Lag for {{master.getDisplayName()}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <d3-line data="master.metrics.latency"></d3-line>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->        
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
