<navigation active="active" groups="groups" activeGroup="group" tables="tables" activeTable="table"></navigation>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Replication Relationships for {{table.getDisplayName()}}</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-6">
        	<h3 class="page-header" ng-show="srcTables.length > 0">Source(s)</h3>
            <div class="panel" ng-class="table.getPanelColor()" ng-repeat="table in srcTables | filter:query">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive" ng-src="images/dynamodb_table.png"></img>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>{{table.region}}/{{table.name}}</div>
                            <div>{{group.replicationStatuses[table.arn]}}</div>
                            <div>{{table.account}}</div>                            
                        </div>
                    </div>
                </div>
                <a href="#/tables/{{table.arn}}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>                  
    	<div class="col-lg-4 col-md-6">
            <h3 class="page-header">Selected</h3>    	
            <div class="panel" ng-class="table.getPanelColor()">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive" ng-src="images/dynamodb_table.png"></img>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>{{table.region}}/{{table.name}}</div>
                            <div>{{group.replicationStatuses[table.arn]}}</div>
                            <div>{{table.account}}</div>                            
                        </div>
                    </div>
                </div>
                <a href="#/tables/{{table.arn}}/edit">
                    <div class="panel-footer">
                        <span class="pull-left">Edit Config</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <h3 class="page-header" ng-show="dstTables.length > 0">Destination(s)</h3>
            <div class="panel" ng-class="table.getPanelColor()" ng-repeat="table in dstTables | filter:query">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive" ng-src="images/dynamodb_table.png"></img>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>{{table.region}}/{{table.name}}</div>
                            <div>{{group.replicationStatuses[table.arn]}}</div>
                            <div>{{table.account}}</div>                            
                        </div>
                    </div>
                </div>
                <a href="#/tables/{{table.arn}}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>

            </div>
        </div>
    </div>

</div>
<!-- /#page-wrapper -->
