// build:css(.) styles/vendor.css
// bower:css
link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
// endbower
link(rel='stylesheet', href='bower_components/jquery-ui/themes/ui-darkness/jquery-ui.min.css')
link(rel='stylesheet', href='bower_components/rickshaw/rickshaw.min.css')
// endbuild

// build:css(.tmp) styles/main.css
link(rel='stylesheet', href='styles/main.css')
link(rel='stylesheet', href='styles/extensions.css')
// endbuild
